body{
	font-family: "Spartan", Helvetica, sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: white;
}

h1{
	font-family: "Spartan";
	font-size: 5rem;
}

p{
	padding: 35px
}
/*<!--NavBar-->*/



.flex-container{
	display: grid;
}

#nav-wrapper{
	display: flex;
	justify-content: space-between;
	margin:0;
	padding-top:15px;
}

.right-side{
	display: flex;
	padding-bottom: 12px;
	font-size: .9rem;
}

.nav-link-wrapper{
	display: flex;
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
	margin-left: 15px;
	margin-right: 15px;
	box-sizing: border-box;
}

/*Nav bar brand*/

}
.brand-left-home{
	border-left: 12px;
	text-transform: uppercase;
	font-size: .9rem;
	padding-bottom: 12px;
}

.active-nav-link {
	text-decoration: none;
	border-bottom: 1px transparent;
}
/*<-- THIS IS THE IN ACTION LINKS-->*/

.active-nav-link:hover a{
	color:#8a8a8a;
}

.nav-link-wrapper a{
	color: black;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover{
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
	color: #1A5276;
}

/*end of in action links*/
/*end of navbar*/

hr{
	color: #2E86C1;
	border-style: solid;
	border-width: 1.5px;
	margin:0;
}
h2{
	margin-top: 0px;
}

#fabric-quote{
	
	padding-left: 80px;
	padding-top: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}

/*Landing Page*/

#total{
	height: auto;
	width: 100%;
	background-color: #E5E7E9;
	margin-top: 0px;
	padding-top: 38px;
	padding-bottom: 38px;
	justify-content: center;
	align-items: center;

}
#bio-layout {
	width: 100%
	background-color: #E5E7E9;
	margin-top: 0px;
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: : 1fr 1fr;
	
}

.port-image-wrapper img{ /*to display in middle*/
	width: 60%;
	height: 60%;
	padding-left: 80px;
	padding-top: 

}

.port-content-wrapper{
	padding-left: 30px;
	margin-top: 20px;
}


.my-art{
	padding-top: 25px;
}
/*End of the landing page*/

/*<--jumbo for button-->
